<!DOCTYPE html>

<html> 

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This side was created by Shahrukh Siddiqui. It uses data from mapbox and dark sky apis</p>
        <img class="portrait" src="/img/scream.jpg">
    </div>
    {{>footer}}
</body>


</html>


