<!DOCTYPE html>

<html> 

<head>
    <title>Help page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Message: {{helpText}}</p>
    </div>
    {{>footer}}
</body>


</html>


